#### Load Libraries & Data

In [99]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import utils

In [100]:
data = pd.read_csv('student_data.csv')
data.head(10)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2
6      1  560  2.98     1
7      0  400  3.08     2
8      1  540  3.39     3
9      0  700  3.92     2

#### Convert ```rank``` feature into a dummy variable and save features as a numpy array

In [107]:
X = data.drop('admit',axis=1)
dummy = pd.get_dummies(data['rank'],prefix='rank')
features = pd.concat([X,dummy],axis=1)
features.drop('rank',axis=1,inplace=True)
features = np.array(features)

#### Save target variable

In [ ]:
target = np.array(utils.to_categorical(data['admit'], 2))

#### Define model architecture

In [102]:
model = Sequential()

model.add(Dense(256,activation='relu',input_shape = (6,)))
model.add(Dropout(.2))
model.add(Dense(256, activation='relu'))
model.add(Dropout(.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(.2))
model.add(Dense(64, activation='relu'))

model.add(Dense(2, activation='softmax')) #final output layer

In [103]:
model.compile(loss = 'binary_crossentropy', optimizer='adam', metrics=['accuracy']) #compile model

In [104]:
model.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_38 (Dense)             (None, 256)               1792
_________________________________________________________________
dropout_23 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_39 (Dense)             (None, 128)               32896
_________________________________________________________________
dense_40 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_41 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_42 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_43 (Dense)             (None, 2)                 130
=================================================================
Total params: 51,394
Trainable params: 51,394
Non-trainable params: 0
_________________________________________________________________

In [105]:
model.fit(features, target, epochs=350, batch_size=100,verbose=None)

In [106]:
score = model.evaluate(features, target)
print("\n Accuracy:", np.round(score[1],2))

400/400 [==============================] - 0s 154us/step

AttributeError: 'float' object has no attribute 'round'